header{
    color: #680d3a;
    background-color: #db7fa2;
}

body {
    background-color: rgb(247, 220, 243);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

main {
    padding: 10px 20px 95px;
}



div.menu {
    color: rgb(0, 4, 255);
    text-align: center;
    font-size: 18px;
    border: 7px solid #7c21c780;
    border-radius: 20px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: #85464630;
    box-shadow: 0 0 15px #00000030;
}

a {
    color: rgb(45, 0, 128);
    text-decoration: none;
    transition: 1s 2s;
}

a:link {
    color: white;

}

a:visited {
    background-color: rgb(180, 177, 177);
}

a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(59, 43, 19);
    text-decoration: underline;
    transition: 0.3s;
}

a:active {
    color: black;
    background-color: bisque;
    opacity: 0.2;
}

footer {
    color: #680d3a;
    background-color: #db7fa2;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
